<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <h2>Login</h2>
        <form th:action="@{/login}" th:object="${login}" method="post" onsubmit="return hashPassword()">
            <label for="username">Username:</label>
            <input type="text" id="username" th:field="*{username}" required><br>

            <label for="password">Password:</label>
            <input type="password" th:field="*{password}" id="password" required><br>

            <!-- Hidden field for salt -->
            <input type="hidden" name="salt" id="salt">

            <button type="submit">Login</button>
        </form>
        <script src="/js/login.js"></script>
        <script src="/js/salt.js"></script>
    </body>
</html>